@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_mixins";

@include media-breakpoint-down(md) 
{
    body {
        display: flex;
        height: 100%;
        background: url("/pictures/portrait.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #333;
        position: relative;
    }
}