html, body {
  height: 100%;        
  min-height: 100vh;   
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.logo-img
{
  max-width: 50px;
  height: auto;
}
.header-div{
    display: flex;
    justify-content: space-between;
}
.container{
    margin:0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display:flex;
  justify-content:space-between;
  z-index:0;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  height: 50vh;
}
.img-div{
    flex:2;
    height:100%;
}
.img-div img{
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;
} 
.text-div{
    flex:1;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 1vw;
}
.content{
    margin-top: 100px;
    margin-left: 10px;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 5px;
  grid-auto-flow: dense;
}

.content img {
   width: 100%;
   height: 100%;
}

.horizontal{
    grid-column: span 2;
}
.vertical {
    grid-row: span 2;
}
.big{
    grid-column: span 2;
    grid-row: span 2;
}
@media (max-width: 767.98px) {

.text-div{
    flex:1;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 2vw;
}
}
/* .back-button{
    z-index:10;
    margin:20px;
    background-color: peachpuff;
    height:30px;
    width:30px;
} */


