html, body {
  height: 100%;        
  min-height: 100vh;   
}
header{
  height: 20%;
  width: auto;    
}

.header-div{
   display:flex;
  justify-content:space-between;
}
.logo-img
{
  max-width: 50px;
  height: auto;
}
.nav-link
{
  color: black;
  border-bottom: .25rem solid transparent;
}
body {
  display: flex;
  height: 100%;
}

.cover-container{
  z-index: 0;
  justify-content: flex-start;
  width:100%;  
}

.container{
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  color:#fff !important;
  width: 85px;
}
.content{

  padding:5px;
  gap:20px;
}
.content div
{
  border: 1px solid black;
  font-size: 30px;
  text-align: center;

}

@media (max-width: 767.98px) {
header{
  height: 40%;
  width: auto;    
}

  .container{
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  color:#fff !important;
  width: 85px !important;
}
}