html, body {
  height: 100%;        
  min-height: 100vh;   
}
/* header{
  height: 20%;
  width: auto;    
} */

.header-div{
  display:flex;
  justify-content:space-between;
  /* height: 20vh; */
}
.logo-img
{
  max-width: 50px;
  height: auto;
}
.nav-link
{
  color: black;
}
body {
  display: flex;
  height: 100%;
}

.cover-container{
  justify-content: flex-start;
  width:100%;  
}

.container{
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  color:#fff !important;
 
}

header {
   z-index:10;
}
.content{
  padding:5px;
  padding-top: 60px;
}
.block
{
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
  height: 350px;
  overflow: hidden;
  text-align: center;
}

 .img-div{
  overflow: hidden;
  width:100%;
  height:300px;
}

.img-div img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.text-div {
  padding: 10px;
  font-weight: 500;
  font-size: 1.1rem;
}

@media (max-width: 767.98px) {

header{
  height: 30%;
  width: auto;    
}

  .container{
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  color:#fff !important;
  width: 85px !important;
}
.content{
  padding:5px;
}
}